<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>

  <body>
  	<h1>Speed Dating Homepage</h1>
  	<TABLE BORDER="0">
		<TR>

<!-- 		<TD><select id="foo">
		  <option value="">session</option>
		  <option value="/session1" >session 1</option>
		  <option value="/session2">session 2</option>
		  <option value="/session3">session 3</option>
		  <option value="/session4">session 4</option>
		  <option value="/session5">session 5</option>
		</select>
		<script>
	    document.getElementById("foo").onchange = function() {
	        if (this.selectedIndex!==0) {
	            window.location.href = this.value;
	        }        
	    };
		</script></TD> -->

		<TD><FORM METHOD="LINK" ACTION="/result">
		<INPUT TYPE="submit" VALUE="Result">
		</FORM></TD>

		<TD><FORM METHOD="LINK" ACTION="/aboutus">
		<INPUT TYPE="submit" VALUE="About Us">
		</FORM></TD>

		<TD><FORM METHOD="LINK" ACTION="/session">
		<INPUT TYPE="submit" VALUE="Session">
		</FORM></TD>

		</TR>

	</TABLE>


  </body>



</html>