<html>
<body>
	<h1>Detail Information</h1>
	<table border=1>
		<tr>
			<td rowspan='2'>Name</td>
			<td colspan='3'>Characters</td>
			<td colspan='3'>Expectations</td>
		</tr>
		<tr>
			<td>Career</td>
			<td>Race</td>
			<td>Intelligence</td>
			<td>Age</td>
			<td>Loyalty</td>
			<td>Appearance</td>
		</tr>
		<tr>
			<td>{{data[0]}}</td>
			<td>{{data[1]}}</td>
			<td>{{data[2]}}</td>
			<td>{{data[3]}}</td>
			<td>{{data[4]}}</td>
			<td>{{data[5]}}</td>
			<td>{{data[6]}}</td>
		</tr>
	</table>
	<p><a href="/home">back to homepage</a></p>
</body>
</html>